In [ ]:
'''Import your data into a Pandas DataFrame.
Merge your DataFrames.
Create a bubble chart that showcases the average fare versus the total number of rides with bubble size based on the total number of drivers for each city type, including urban, suburban, and rural.
Determine the mean, median, and mode for the following:
The total number of rides for each city type.
The average fares for each city type.
The total number of drivers for each city type.
Create box-and-whisker plots that visualize each of the following to determine if there are any outliers:
The number of rides for each city type.
The fares for each city type.
The number of drivers for each city type.
Create a pie chart that visualizes each of the following data for each city type:
The percent of total fares.
The percent of total rides.
The percent of total drivers.'''

In [1]:
#dependencies
%matplotlib inline

import matplotlib.pyplot as plt
import pandas as pd

In [5]:
city_data_file = 'Resources/city_data.csv'
ride_data_file = 'Resources/ride_data.csv'
city_df = pd.read_csv(city_data_file)
ride_df = pd.read_csv(ride_data_file)
city_df.head()
ride_df.head()

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344

In [19]:
#5.2.4 Explore data in pandas

#Inspecting city df

#Get all the rows that contain null values.
city_df.count
#or 
city_df.isnull().sum()

Urban       66
Suburban    36
Rural       18
Name: type, dtype: int64

In [20]:
#Make sure the driver_count column has an integer data type.
city_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [31]:
#Find out how many data points there are for each type of city.
city_df.type.unique()
#array(['Urban', 'Suburban', 'Rural'], dtype=object)

sum(city_df.type == 'Urban')
#66

sum(city_df.type == 'Suburban')
#36

sum(city_df.type == 'Rural')
#18


###Better way to do this is 


city_df.type.value_counts()
# Urban       66
# Suburban    36
# Rural       18
# Name: type, dtype: int64

Urban       66
Suburban    36
Rural       18
Name: type, dtype: int64

In [ ]:
()