In [1]:
'''Import your data into a Pandas DataFrame.
Merge your DataFrames.
Create a bubble chart that showcases the average fare versus the total number of rides with bubble size based on the total number of drivers for each city type, including urban, suburban, and rural.
Determine the mean, median, and mode for the following:
The total number of rides for each city type.
The average fares for each city type.
The total number of drivers for each city type.
Create box-and-whisker plots that visualize each of the following to determine if there are any outliers:
The number of rides for each city type.
The fares for each city type.
The number of drivers for each city type.
Create a pie chart that visualizes each of the following data for each city type:
The percent of total fares.
The percent of total rides.
The percent of total drivers.'''

'Import your data into a Pandas DataFrame.\nMerge your DataFrames.\nCreate a bubble chart that showcases the average fare versus the total number of rides with bubble size based on the total number of drivers for each city type, including urban, suburban, and rural.\nDetermine the mean, median, and mode for the following:\nThe total number of rides for each city type.\nThe average fares for each city type.\nThe total number of drivers for each city type.\nCreate box-and-whisker plots that visualize each of the following to determine if there are any outliers:\nThe number of rides for each city type.\nThe fares for each city type.\nThe number of drivers for each city type.\nCreate a pie chart that visualizes each of the following data for each city type:\nThe percent of total fares.\nThe percent of total rides.\nThe percent of total drivers.'

In [2]:
#dependencies
%matplotlib inline

import matplotlib.pyplot as plt
import pandas as pd

In [25]:
city_data_file = 'Resources/city_data.csv'
ride_data_file = 'Resources/ride_data.csv'
city_df = pd.read_csv(city_data_file)
ride_df = pd.read_csv(ride_data_file)
city_df.head()
ride_df.head()

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344

In [4]:
#5.2.4 Explore data in pandas

#Inspecting city df

#Get all the rows that contain null values.
city_df.count
#or 
city_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [5]:
#Make sure the driver_count column has an integer data type.
city_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [6]:
#Find out how many data points there are for each type of city.
city_df.type.unique()
#array(['Urban', 'Suburban', 'Rural'], dtype=object)

sum(city_df.type == 'Urban')
#66

sum(city_df.type == 'Suburban')
#36

sum(city_df.type == 'Rural')
#18


###Better way to do this is 


city_df.type.value_counts()
# Urban       66
# Suburban    36
# Rural       18
# Name: type, dtype: int64

Urban       66
Suburban    36
Rural       18
Name: type, dtype: int64

In [11]:
# Do the same thing for ride data
ride_df.count()
ride_df.isnull().sum()

ride_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [28]:
pyber_data_df = pd.merge(ride_df, city_df, how = 'left', on = ['city', 'city'])

pyber_data_df

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
...,...,...,...,...,...,...
2370,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural